@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

img {
    max-height: 100%;
    max-width: 100%;
}

p {
    color: white;
    font-size: 1rem;
    margin-top: 5px;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}

.section-title {
    font-size: 3rem;
    font-weight: 400;
    color: #2E3253;
    margin-bottom: 0.5%;
    text-transform: uppercase;
    letter-spacing: .05rem;
    text-align: center;
}

.section-title span {
    color: #9F9BC0;
}

/* Navbar */ 
.nav {
    overflow: hidden;
    background-color: #9F9BC0;
    z-index: 10;
    justify-content: space-evenly;
}

.nav a {
    float: left;
    display: block;
    color: #F0F5F7;
    text-align: center;
    padding: 0.5% 2.3%;
    margin: .7% .5%;
    text-decoration: none;
    font-size: 1.2em;
}

.nav a:hover {
    background-color: #2E3253;
    color: #F0F5F7;
}

.nav a.active {
    background-color: #6A6F7A;
    color: #EFEFE9;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    justify-content: center;
}

.sticky + .container {
    padding-top: 5%;
}

/* Hero Section */
#hero {
    background-image: url("./img/margot-noyelle-3LyJOlOkmPY-unsplash.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

#hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}

#hero .hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: center;
    
}

#hero h1 {
    display: block;
    width: fit-content;
    font-size: 2rem;
    position: relative;
    font-weight: 400;
    color: transparent;
    margin-right: auto;
    margin-left: auto;
    animation: text_reveal 1s ease forwards;
    animation-delay: 2s;
}

/* Animation reveal */
#hero h1:nth-child(1){
    animation-delay: 1s;
}

#hero h1:nth-child(2){
    animation: text_reveal_name 1s ease forwards;
    animation-delay: 2s;
}

#hero h1:nth-child(3){
    
    animation-delay: 3s;
}


#hero h1 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #6A6F7A;
    animation: text_reveal_box 1s ease;
    animation-delay: 3s;
}

/* Animation reveal */
#hero h1:nth-child(1) span {
    animation-delay: .5s;
}

#hero h1:nth-child(2) span {
    animation-delay: 1.5s;
}

#hero h1:nth-child(3) span {
    animation-delay: 2.5s;
}

#hero .cta {
    display: inline-block;
    padding: 2%;
    color: #F0F5F7;
    background-color: transparent;
    border: 1px;
    font-weight: 400;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-decoration: none;
    margin-top: 30px;
    transition: .3s ease;
    transition-property: background-color, color;
}

#hero .cta:hover {
    color: white;
    background-color: #9F9BC0;
}
/* End of Hero Section */

/* Artist section*/
#artists .artists {
    flex-direction: column;
    text-align: center;
    max-width: 1500px;
    margin: 0 auto;
    padding: 5em 0;
}

#artists .artists-top p {
    font-size: 1em;
    margin-top: 5px;
    line-height: 2rem;
    font-weight: 400;
    letter-spacing: .05rem;
    color: black;
}

.artists .artists-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* Artists cards w/ border */
#artists .artists-list {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("./img/jack-hunter-1L4E_lsIb9Q-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#artists .artists-list2 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("./img/redd-c7xBEFBJhkg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

#artists .artists-list3 {
    flex-basis: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url("./img/niv-singer-LkD_IH8_K8k-unsplash.jpg");
    background-size: cover;
    background-position: center;
    margin: 10px 5px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

/* Overlay gradient */
#artists .artists-list::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #2E3253, #EFEFE9 100%);
    opacity: .1;
    z-index: -1;
}

#artists .artists-list2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #2E3253, #EFEFE9 100%);
    opacity: .5;
    z-index: -1;
}

#artists .artists-list3::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: linear-gradient(60deg, #2E3253, #EFEFE9 100%);
    opacity: .5;
    z-index: -1;
}

/*Icon used on top of names */
#artists .artists-bottom .icon {
    height: 40px;
    width: 40px;
    margin-bottom: 1px;
}

/* Artists names h2 tag */
#artists .artists-list h2 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 10px;
    text-transform: uppercase;
}

#artists .artists-list2 h2 {
   font-size: 1.5rem;
   color: white;
   margin-bottom: 10px;
   text-align: left;
   text-transform: uppercase;
}

#artists .artists-list3 h2 {
   font-size: 1.5rem;
   color: white;
   margin-bottom: 10px;
   text-transform: uppercase;
}

/* Artists info p tag */
#artists .artists-list p {
    font-size: 1em;
    color: white;
    text-align: left;
    line-height: 1.5rem;
    
}

#artists .artists-list2 p {
    font-size: 1em;
    color: white;
    text-align: left;
    line-height: 1.5rem;
    
}

#artists .artists-list3 p {
    font-size: 1em;
    color: white;
    text-align: left;
    line-height: 1.5rem;

}

#artists .artist-link {
    color: white;
    margin: 0.5%;
    text-transform:none;
}

.artist-link:hover {
    color: #9F9BC0;
    font-weight: bold;
}


/* Artists names span color*/
#artists .artists-list span {
    color: #9F9BC0;
}

#artists .artists-list2 span {
    color: #9F9BC0;
}

#artists .artists-list3 span {
    color: #9F9BC0;
}

/* End Artist section*/

/* Gallery Section*/
/* Container around gallery 
#gallery .gallery-container {
    width: 20%;
    height: 20%;
    float: left;
    margin: 20px;
    display: flex;
}
*/
/**/
#gallery .container {
    min-height: 25vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#gallery .gallery-header {
    margin: 0 auto;
    padding: 2rem 0 0;
}
/**/
#gallery .gallery-header p {
    color: #2E3253;
    text-align: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1em;
}
/*
#gallery .gallery-header h2 {
    color: black;
    text-align: center;
    justify-content: center;
}
/*
#gallery .gallery-cards {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

/* Padding around cards 
#gallery .gallery-art {
    display: inline-block;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    margin: 5% auto;
    overflow: hidden;
    border-radius: 2%;
}

/* purple box above images 
#gallery .gallery-info {
    padding: 5%;
    flex-basis: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #9F9BC0;
    color: white;
}

#gallery .gallery-info h1 {
    font-size: 3rem;
    font-weight: 400;
}

#gallery .gallery-info h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 10px;
}

/*
#gallery .gallery-img {
    overflow: hidden;
    position: relative;
    background-position: center;
}
/* End Gallery Section*/

/* Carousel */
.gallery-inner {
    margin: 0 0 0 25%;
    max-height: 100%;
   
}

.gallery-text {
    right: 40%;
    left: -15%;
    font-weight: bold;
    position: absolute;
    margin: 0 10% 5% 15%;
    border-radius: 0.1em;
    background-color: #9F9BC0;
    bottom: 2em;

}

.carousel-img {
    height: 50em;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 1%;
    overflow: hidden;
    margin: 0 0 5% 0;
    object-fit: cover;
    object-position: top;
}

.carousel-img1 {
    height: 50em;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 1%;
    overflow: hidden;
    margin: 0 0 5% 0;
    object-fit: cover;
    object-position: center;
}

/* adjusts items in gallery container*/
.carousel-img3 {
    height: 50em;
    align-items: center;
    justify-content: center;
    border: 0.5px solid black;
    border-radius: 1%;
    overflow: hidden;
    margin: 0 0 5% 0;
    object-fit: cover;
    object-position: top;

}

.carousel-buttons {
    margin-bottom: 6.5%;
}

.carousel-control-next, .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    color: #fff;
    text-align: center;
    background: 0 0;
    border: 0;
    opacity: .5;
    transition: opacity .15s ease;
}

.icon-color {
    background-color: #9F9BC0;
}
/* End Carousel */

/* About */
#about .container {
    min-height: 30vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: none;
}
#about p {
    color: #2E3253;
    text-align: center;
    font-weight: 400;
    font-size: 1em;
}

.about-img {
    width: 100%;
    height: 20em;
    background-image: url("./img/annie-spratt-_9LPbygnDJM-unsplash.jpg");
    background-size: cover;
    background-position: bottom;
    background-attachment: fixed; /* Parallax scroll img */
    border: 1px solid;
    overflow: hidden;
    
}

#about .about-text h1 {
    color: #2E3253;
    font-size: 2em;
    text-align: center;
}

#about .about-text p {
    color: #2E3253;
    font-size: 1em;
    text-align: center;
}
/* About columns */
#about-icons .container {
    min-height: 40vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.col-3 {
    background-color: #9F9BC0;
    display: grid;
    margin: 5%;
    padding: 5%;
    border: 1px solid #9F9BC0;
    border-radius: 1em;
    text-align: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
}

.col-3 h2 {    
    font-size: 1.5rem;
    text-align: center;
}

.col-3 p {
    font: 1rem;
    text-align: center;
}

.about-icon {
    font-size: 10px;
}


.row {
    flex-wrap: wrap;
    display: contents;
    width: 40%;
    height: auto;
}

.about-us-div {
    display: flex;
    justify-content: center;
}
/* End About Page */

/* Contact page*/
#contact .container {
    min-height: 25vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#contact h1{
    text-align: center;
    display: block;
    height: 50%;
    margin-top: 50%;
}
/* Form */
.contact-header > p {
    color: #2E3253;
    font-size: 1em;
    text-align: center;
}

.contact-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #9F9BC0;
}

form {
    padding: 25px;
    margin: 25px;
    box-shadow: 0 2px 5px #2E3253;
    border: 1px solid #2E3253;
    border-radius: 10px;
    background: #2E3253;
}

.contact-info {
    text-align: center;
}
#contact-txt {
    color: white;
    font-size: 1rem;
    margin-top: 0.5em;
    margin-left: 0.5em;
    line-height: 2.5rem;
    font-weight: 300;
    letter-spacing: .05rem;
}


input, textarea {
    width: calc(100% - 18px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #9F9BC0;
    border-radius: 5px;
    outline: none;
}

input::placeholder {
    color: #6A6F7A;
}

.form-button  {
    width: 20%;
    padding: 10px;
    margin: 1%;
    border: 1px solid white;
    border-radius: 5px;
    background: #2E3253;
    font-size: 16px;
    font-weight: 500;
    color: #F0F5F7;
}

.form-button:hover{
    background: #9F9BC0;
}

/* End Form */

/* Social media icons*/
.smedia-icons {
    font-size: 200%  !important;
    color: white;
    margin: 5%;
    padding: 0 1em 0 1em;
    
}

/* Footer */
.footer-head .container {
    background: #2E3253;
    min-height: 20vh;
    border: 1px solid;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.copyright {
    color: #2E3253;
    text-align: center;
    font-weight: bold;
}
/* End Footer */

/* Keyframes*/
@keyframes text_reveal_box {
    50% {
        width: 100%;
        left: 0;
    }
    100% {
        width: 0;
        left: 100%;
    }
}
@keyframes text_reveal {
    100% {
        color: #F0F5F7;
    }
}
@keyframes text_reveal_name {
    100% {
        color: #9F9BC0;
        font-weight: 700;
    }
}
/* End Keyframes*/

/* Small devices (landscape phones, 411px) */
@media (max-width: 411px) { 
    .container {
        width: 100%;
        height: auto;
    }  
    .nav {
        justify-content: center;
    }
    .sticky {
        width: 100%;
        padding-bottom: 1%;
        position: fixed;
        justify-content: center;
        right: 10%;
    }
    .footer-head .container {
        border-bottom-left-radius: 1px;
        border-bottom-right-radius: 1px;
    }
    .form-button {
        width: 30%;
    }
    .smedia-icons {
        font-size: 180% !important;     
        padding: 0.6em;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 1024px) { 
    .container {
        width: 100%;
    }
    .nav {
        display: block;
        padding-left: 23%;
    }
    .copyright {
        margin: 0 0 10% 0;
    }
    .sticky {
        width: 100%;
        padding-bottom: 1%;
        padding-top: 1%;
        right: 0%;
        justify-content: center;
    }
}

/* X-Large devices (large desktops, 2560px) */
@media (max-width: 2560px) {
    .container {
        width: 100%
    }
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
        justify-content: center;
    }
    .smedia-icons {
        font-size: 270% !important;
        color: white;
        margin: 0%;
        padding: 0 2em 0 2em;
    }

}
